<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="browser" value="chrome" />
    <parameter name="url" value="http://prestashop-automation.qatestlab.com.ua/admin147ajyvk0/" />

    <test name="testA" >
        <classes>
            <class name="com.qatestlab.hw4.tests.CreateProduct"/>
        </classes>
    </test>
</suite>
